@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary: 0 0% 5%;
  --secondary: 0 0% 45%;
  --accent: 0 1% 18%;
  --bgprimary: 0 0% 100%;
  --bgsecondary: 0 0% 96%;
}
.dark {
  --primary: 0, 0%, 100%;
  --secondary: 0 0% 39%;
  --accent: 0 2% 82%;
  --bgprimary: 0 0% 5%;
  --bgsecondary: 0 0% 12%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

#menu-bar {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#menu-bar span {
  display: block;
  position: absolute;
  height: 4px;
  border-radius: 9px;
  opacity: 1;
  left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  /* max-width: 40px; */
}

#menu-bar span:nth-child(1) {
  top: 15px;
  width: 25px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-bar span:nth-child(2) {
  top: 25px;
  width: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-bar span:nth-child(3) {
  top: 35px;
  width: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu-bar.open span:nth-child(1) {
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  transform: rotate(38deg);
  width: 40px;
  top: 10px;
}

#menu-bar.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-bar.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  width: 40px;
}
.vertical-text {
  display: inline-block;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
}
